.CardPreview {
  margin: 1em;
  border: 1px solid #ccc;

  .category-name {
    border-bottom: 1px solid #ccc;
    padding: 0.25em 0.5em;
    font-weight: bold;
    background-color: #eee;
  }

  .category-title {
    padding: 0.5em;
  }
}
.Card{
    .card_title{
      font-size: 3em;
      color: white;
      text-align: center;
      font-family: sans-serif;
    }
}
