<script type="text/javascript">
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.491.0.min.js"></script>
  window.initialData = <%- JSON.stringify(initialData) -%>;
</script>

<%- include('header') -%>
  <div id="root"><%- initialMarkup -%></div>
<%- include('footer') -%>
